<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jotajr.workflows.loterias</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>45524E09-CE99-46B8-8EF4-EC59DEC9BE53</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C3AE9D7-3D37-44F8-BD6A-B0F928D89CF5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jota Freitas Jr</string>
	<key>description</key>
	<string>Resultados de Loterias da Caixa Econômica Federal</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Loterias</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>loterias</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Mostra o resultado das Loterias Caixa, aguarde...</string>
				<key>script</key>
				<string>sh ./loterias.sh</string>
				<key>subtext</key>
				<string>Mostra o resultado das Loterias Caixa</string>
				<key>title</key>
				<string>Resultado das Loterias Caixa</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2C3AE9D7-3D37-44F8-BD6A-B0F928D89CF5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>45524E09-CE99-46B8-8EF4-EC59DEC9BE53</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2C3AE9D7-3D37-44F8-BD6A-B0F928D89CF5</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>45524E09-CE99-46B8-8EF4-EC59DEC9BE53</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.jotajr.com</string>
</dict>
</plist>
